* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  transition: all ease 1s;
}
.hamburger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  box-shadow: none;
  cursor: pointer;
  border: none;
}

.hamburger:focus {
  outline: none;
}

.hamburger span {
  display: block;
  position: absolute;
  right: 18px;
  top: 44px;
  left: 18px;
  height: 8px;
  background: #fff;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background: #fff;
  content: "";
}
.hamburger span::before {
  top: -20px;
}
.hamburger span::after {
  bottom: -20px;
}
.hamburger-anim {
  background: rgba(131, 175, 49, 0.603);
}

.hamburger-anim span {
  transition: background 0s 0.3s;
}

.hamburger-anim span::before,
.hamburger-anim span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.hamburger-anim span::before {
  transition-property: top, transform;
}

.hamburger-anim span::after {
  transition-property: bottom, transform;
}
.hamburger-anim.is-active {
  background: green;
}
.hamburger-anim.is-active span {
  background: none;
}
.hamburger-anim.is-active span::before {
  top: 0;
  transform: rotate(-45deg);
}
.hamburger-anim.is-active span::after {
  bottom: 0;
  transform: rotate(45deg);
}
.hamburger-anim .is-active span::before,
.hamburger-anim .is-active span::after {
  transition-delay: 0s, 0.3s;
}
#menu {
  width: 300px;
  margin-left: -204px;
  background: #fbf0ff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all ease 1s;
  z-index: 10;
}

#menu.nav-active {
  margin-left: 0;
}

.container {
  width: 80%;
  min-width: 1000px;
  margin: 30px auto;
  text-align: center;
}

.body-active {
  margin-left: 300px;
}
